IBM-EPBL/IBM-Project-32197-1660208557
Assignment 1 
Sharumathi KS-310719106002

Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
X=s.split()
print(X)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter {} {} {} {} {} ".
format("of","Earth","is","12742","Kilometers"))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

In [ ]:
An array of 10 zeros:
[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array=np.arange(20,35,2)
print("Array of all the even integers from 20 to 35")
print(array) 

Array of all the even integers from 20 to 35
[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
x =  np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c=np.concatenate((a,b))
print(c)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
data=[['Nivi',10],['Jhon',19],['Hems',18]]
df=pd.DataFrame(data, columns=['Name','Age'])
df

   Name  Age
0  Nivi  10
1  Jhon  19
2  Hems  18

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import datetime
import pandas as pd
test_date = datetime.datetime.strptime("01-01-2023","%d-%m-%Y")
K=41
date_generated = pd.date_range(test_date,periods=K)
print(date_generated.strftime("%d-%m-%Y"))

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-
2023',
'06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-
2023',
'11-01-2023', '12-01-2023', '13-01-2023', '14-01-2023', '15-01-

2023',
'16-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '20-01-
2023',
'21-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-
2023',
'26-01-2023', '27-01-2023', '28-01-2023', '29-01-2023', '30-01-
2023',
'31-01-2023', '01-02-2023', '02-02-2023', '03-02-2023', '04-02-
2023',
'05-02-2023', '06-02-2023', '07-02-2023', '08-02-2023', '09-02-
2023',
'10-02-2023'],
dtype='object')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists)
df.columns = ['col1','col2','col3']
print(df, "\n")

  col1  col2 col3
0  1    aaa   22
1  2    bbb   25
2  3    ccc   24